<?xml version="1.0"?>
<robot name="myfirst">
  <link name="base_link"> <!-- tf 이름-->
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
      <!-- (선택) 좌표를 조정하고 싶다면 origin을 추가 -->
      <!-- <origin xyz="0 0 0" rpy="0 0 0"/> -->
    </visual>
  </link>
</robot>
<!-- 간단한 urdf 를 만들었고 rviz에 띄울 것 -->